
<h1><%= register.titulo %></h1>
<div class="register">
  <form>
    <label for="text" class="add"><%= register.modelo %></label><br />
    <input type="text" id="modelo" /><br /><br />

    <label for="text" class="add"><%= register.descricao %></label><br />
    <textarea id="descricao" rows="10"></textarea><br /><br />

    <label for="resume" class="add"><%= register.img %></label><br />
    <input type="file" name="resume" id="addImg" accept="image/*" />
    <br /><br />

    <h3><%= register.especificacoes %></h3>
    <br />
    <label for="text" class="add"><%= register.sistema %></label><br />
    <input type="text" id="sistema" /><br /><br />

    <label for="text" class="add"><%= register.disponibilidade %></label> <br />
    <input type="text" id="disponibilidade" /><br /><br />

    <label for="text" class="add"><%= register.dimensoes %></label><br />
    <input type="text" id="dimensoes" /><br /><br />

    <label for="text" class="add"><%= register.peso %></label><br />
    <input type="text" id="peso" /><br /><br />

    <h3><%= register.precos %></h3>
    <br />
    <label for="text" class="add"><%= register.melhor %></label><br />
    <input type="tex" id="melhorPreco" /><br /><br />

    <label for="text" class="add"><%= register.faixa %></label><br />
    <input type="text" id="faixaPreco" /><br /><br />

    <h3><%= register.notas %></h3>
    <br />
    <label for="text" class="add"><%= register.custo %></label><br />
    <input type="text" id="custo" /><br /><br />

    <label for="text" class="add"><%= register.hardware %></label><br />
    <input type="text" id="hardware" /><br /><br />

    <label for="text" class="add"><%= register.tela %></label><br />
    <input type="text" id="tela" /><br /><br />

    <label for="text" class="add"><%= register.camera %></label><br />
    <input type="text" id="camera" /><br /><br />

    <label for="text" class="add"><%= register.desempenho %></label><br />
    <input type="text" id="desempenho" />
  </form>
</div>
